* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(58, 55, 57);
}

html,
body {
  height: 100%;
  padding: 10px 15px;
  background-color: #bbb8ba;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 10px;
  text-align: center;
}

input {
  width: 180px;
  height: 30px;
  font-size: 16px;
}

#login-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  background-color: rgb(244, 240, 240);
  padding: 30px 20px;
}

.form__element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 20px;
  font-size: 24px;
}

.logInBtn {
  display: flex;
  justify-content: center;
}

#logInBtn {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  width: 150px;
}