* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(58, 55, 57);
}

html,
body {
  height: 100%;
  padding: 10px 15px;
  background-color: #e0c7d4;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 10px;
  text-align: center;
}

input {
  width: 180px;
  height: 30px;
  font-size: 16px;
}

#login-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  background-color: rgb(244, 240, 240);
  padding: 30px 20px;
}

.form__element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 20px;
  font-size: 24px;
}

.logInBtn {
  display: flex;
  justify-content: center;
}

#logInBtn {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  width: 150px;
}

#logInBtn:hover {
  background-color: #e0c7d4;
  border: 1px solid black;
}

#wrong-data-screen-wrapper {
  display: none;
  position: fixed;
  left: 30%;
  top: 25%;
  width: 40%;
  height: 50%;
  background-color: rgb(175, 124, 162);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrong-data-text {
  font-size: 26px;
  margin-bottom: 50px;
  text-align: center;
}

#try-again-btn {
  cursor: pointer;
  font-size: 24px;
  background-color: #f1eef0;
  font-weight: 600;
  padding: 10px;
  border: 3px solid #e0c7d4;
}

#try-again-btn:hover {
  background-color: #e2dee1;
  border: 3px solid #a8a6a7;
}