#photos-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.photos__el {
  width: 23%;
  height: 250px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.photos__el__title {
  width: 80%;
  font-size: 0.9em;
  margin: 10px 0px;
}

.photos__el__photo:hover {
  cursor: pointer;
}
